body{
    background-color: #000080;
}
h1{
    color: white;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;

}
h2{
    color: white;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;

}
h3{
    color: white;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
}
h4{
    color: white;
    text-align: right;
}
p{
    color: white;
    font-family: arial, helvetca, sans-serif;
    font-size: 15px;
}
ul{
    color: white;
    font-family: arial, helvetca, sans-serif;
    font-size: 15px;
}
a{
    color: white;
    font-family: arial, helvetca, sans-serif;
    font-size: 15px;
}