div div p {
	/* De transitie zal getriggered worden wanneer de achtergrondkleur verandert*/
	transition-property: background-color;
	/* De transitie zal 2s duren*/
	transition-duration: 2s;
	background-color: red;
}

div div p:hover {
	color:white;
	background-color: blue;
}